.pagination-button {
  color: #488B8F;
  background-color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0.8rem;
}

.pagination-button:hover {
  color: #ADD2C9;
}

.page {
  border: 1px solid #488B8F;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page p {
  margin: 0;
  color: #488B8F ;
  font-weight: bolder;
}