.product-list {
  margin-bottom: 2rem;
  max-width: 90%;
}

.product-list-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}


@media screen and (min-width: 768px) {
  .product-list {
    padding: 0 2rem;

  }  
}