.skeleton-card {
  min-height: 400px;
  height: 100%;
}

.skeleton-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.skeleton-container{
  margin-bottom: 1rem;
}