.remaining-offer-container {
  padding: 0.5rem 1rem;
}

.remaining-item {
  font-weight: bold;
}

.remaining-item span {
  margin-right: 0.5rem;
  font-size: 1.7rem;
  color: red;
  font-weight: bolder;
}

.remaining-items-container {
  display: flex;
   justify-content: center;
   gap: 1rem;
}

.remainig-offer-text {
  color: red;
  font-weight: bold;
}