.discount-container {
  border-radius: 50%;
  background-color: #35B0AB;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  top: -22px;
  right: 10px;
}

.discount-container p {
  margin: 0;
  padding: 5px;
  font-size: 0.6rem;
  color: white;
  font-weight: bold;

}