.detail-container {
  min-height: 100vh;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 3rem;
}

.question-customer {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.answer {
  margin-left: 3rem;
  color: gray;
  font-weight: 300;
}

.question {
  font-weight: 400;
}

.question-date {
  font-size: 0.8rem;
  font-weight: 300;
  color: gray;
  align-self: center;
}