#header {
  border-bottom: 1px solid;
  border-color: #334257;
  justify-content: space-between;
  min-height: 70px;
  z-index: 1;
  background-color: #35B0AB;
}

.nav {
  margin-top: 1rem 0;
  margin-right: auto;
  max-height: "100px";
  padding-right: 2rem;
}

@media screen and (min-width: 768px) {
  .nav {
    margin: 0;
  }
  #navbarScroll {
    justify-content: flex-end;
  }
}