
.normal-price-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 100%;
  background-color: white;
  border: 0.2px solid lightgrey;
  box-shadow: 1px 1px 1px lightgrey;
  min-width: 230px;
}

.product-card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.product-card-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
}

.product-card-image {
  border-radius: 10px 10px 0 0;
}

.product-card-title {
  text-align: start;
  margin: 0;
  margin-bottom: 0.7rem;
  font-weight: bolder;
}

.product-container {
  position: relative;
  margin-bottom: 3.5rem;
}

.product-price-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.offer {
  text-decoration: line-through;
  font-size: 0.7rem;
  font-weight: lighter;
}

.price {
  font-size: 1.5rem;
  font-weight: bolder;
}

.offer-price {
  font-size: 1.5rem;
  color: #488B8F;
  font-weight: bolder;
  margin: 0;
}

.offer-text {
  font-size: 0.7rem;
  font-weight: lighter;
  margin-right: 0.5rem;
}