
.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 100%;
  background-color: white;
  border: 0.2px solid lightgrey;
  box-shadow: 1px 1px 1px lightgrey;
}

.product-card:hover {
  transform: translateY("5px");
  cursor: pointer;
}

.product-card-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
}

.product-card-image {
  border-radius: 10px 10px 0 0;
}

.offer {
  text-decoration: line-through;
  font-size: 0.7rem;
  font-weight: lighter;
}

.price {
  font-size: 1.5rem;
  font-weight: bolder;
}

.offer-price {
  font-size: 1.5rem;
  color: #488B8F;
  font-weight: bolder;
}

.offer-text {
  font-size: 0.7rem;
  font-weight: lighter;
  margin-right: 0.5rem;
}